{% extends "base.html" %}

{% block content %}
<section class="about">
    <div class="about-content">
        <h2>About Me</h2>
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture" class="profile-img">
        <p>Hi, I'm Neha Thapa. I'm a web developer with a passion for creating beautiful and functional
            websites. I
            specialize in front-end development using HTML, CSS, and JavaScript, and I also have experience with
            back-end technologies like Flask and SQLite.</p>
        <p>When I'm not coding, I enjoy reading books, watching movies, and playing except that i am learning new
            technology like AL/Ml and have good comand in flutter to develop a beautyfull mobile applications.</p>
        <p>My mission is to create innovative and user-friendly web applications and mobile applications that make a
            difference.</p>
        <ul>
            <li>My address is Chabahil</li>
            <li>My phone number is 9825623808</li>
            <li>My email is <a href="mailto:thapaneha992@gmail.com">thapaneha992@gmail.com</a>
        </ul>
    </div>
</section>
{% endblock %}