{% extends "base.html" %}

{% block content %}
<section class="resume">
    <h2>Resume</h2>
    <div class="resume-content">
        <h3>Professional Summary</h3>
        <p>Experienced web developer with expertise in HTML, CSS, JavaScript, and Flask. Passionate about creating
            responsive and user-friendly websites.</p>
        <p>I am also have a very good skills in dart and flutter to develop the mobile application by using firebase.
        </p>

        <h3>Education</h3>
        <ul>
            <li>Bachelor of Information Technology - Texas College of Management & IT</li>
        </ul>

        <h3>Work Experience</h3>
        <ul>
            <li>Web Developer at XYZ Company (2023 - 2024)</li>
            <li>Intern at Texas imaginology (2024 -present)</li>
        </ul>

        <h3>Skills</h3>
        <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>Flask, SQLite</li>
            <li>Responsive Design</li>
            <li>Flutter</li>
        </ul>
    </div>
</section>
{% endblock %}